
.firstComponent{

    display: block;
    height: 500px;
    width: 300px;
    background-color: rgb(192, 190, 194);
    margin-left: 970px;
    border-radius: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05) !important ;

}


.firstSmallDiv{

    height: 100px;
    width: 300px;

}

.firstSmallDiv h4{

    margin-left: 50px;
    padding-top: 30px;
    font-size: 16px;

}

.firstSmallDiv a{

    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: -40px;
    font-size: 15px;

}

.firstSmallDiv hr{

    margin-top: 10px;

}

.secondSmallDiv{

    height: 100px;
    width: 250px;
    background-color: rgb(176, 176, 179);
    margin-left: 25px;
    border-radius: 30px;
    display: flex;

}

.firstmicroDiv{

    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;

}

.firstmicroDiv img{

    height: 60px;
    width: 60px;
    display: flex;
    /* margin-top: -15px; */
    margin-left: 5px;
    margin-bottom: -10px;

}

.secondmicroDiv{

    height: 100px;
    width: 150px;
    margin-top: 30px;
    margin-left: -40px;
    display: block;

}
.secondmicroDiv h4{

    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;

}

.secondmicroDiv h5{

    margin-top: 2px;
    margin-left: 29px;
    font-size: 12px;
    color: rgb(117, 115, 113);

}

.thirdSmallDiv{

    height: 100px;
    width: 250px;
    background-color: rgb(176, 176, 179);
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;

}

.firstMicroDiv{

    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;

}

.secondMicroDiv{

    height: 100px;
    width: 150px;
    margin-top: 30px;
    margin-left: -40px;
    display: block;

}

.thirdSmallDiv h4{

    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;

}

.thirdSmallDiv h5{

    margin-top: 2px;
    margin-left: 29px;
    font-size: 12px;

}

.fourthSmallDiv{

    height: 100px;
    width: 250px;
    background-color: rgb(176, 176, 179);
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;

}

.FirstmicroDiv{

    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;

}

.SecondmicroDiv{

    height: 100px;
    width: 150px;
    margin-top: 30px;
    margin-left: -40px;
    display: block;

}

.fourthSmallDiv img{

    height: 60px;
    width: 60px;
    border-radius: 100px;
    
}

.fourthSmallDiv h4{

    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;

}

.fourthSmallDiv h5{

    margin-top: 2px;
    margin-left: 29px;
    font-size: 12px;

}
